:root {
    --test-border: 1px dashed black;
}

*, *::before, *::after {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

/*
Built-in html els
*/

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: var(--test-border)
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 auto;

    margin: 10%;
}

footer {
    border: var(--test-border)
}

/*
Custom html els
*/

.video-uploader-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-width: 20rem;
    min-height: 20rem;

    border: 3px dashed rgb(154, 153, 153);
    border-radius: 15px;
}

.video-preview-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ai-assistant-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    margin: 2rem;
    min-width: 30rem;
    min-height: 10rem;

    border: 3px dashed rgb(154, 153, 153);
    border-radius: 15px;
}
.chat-history-area {
    display: flex; 
    flex-direction: column;
    
    overflow-y: auto;
    margin: 1rem;
    padding: 1rem;
    width: 20rem;
    height: 3rem;

    border: 3px dashed rgb(154, 153, 153);
    border-radius: 15px;
}

.user-box-area {
    margin: 1rem;
    padding: 1rem;
    min-width: 20rem;

    border: 3px dashed rgb(154, 153, 153);
    border-radius: 15px;
}

